<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--
          Workaround for a bug in nunit3-console 3.16.3 on Mono
          Link: https://ci.appveyor.com/project/Bartleby2718/medallionshell-tiyd7/build/job/2x8r4gl2hyee968q
          Exit code: 254
          Error message:
            Invalid : /home/appveyor/projects/medallionshell-tiyd7/MedallionShell.Tests/bin/Release/net8.0/MedallionShell.Tests.dll
            Could not load type 'System.Runtime.CompilerServices.NullableContextAttribute' from assembly
            'System.Runtime, Version=7.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
        -->
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
